
<mat-card class="mat-cards">
    <mat-card-header>
        <mat-card-title>
            Detalle de Claves
        </mat-card-title>
    </mat-card-header>
    <mat-card class="mat-cards">
        <mat-divider></mat-divider>
        <mat-card-content>
            Nombre de clave: {{keyForm.value.name}}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            Clave encriptada: ****
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            Fecha de creacion: {{keyForm.value.created_at}}
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="mat-cards">
        
        <mat-card-content>
            <table mat-table [dataSource]="shared">
                
                <ng-container matColumnDef={{col.key}} *ngFor="let col of columnsSchemaEstudio">
                    <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumnsEstudio"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsEstudio;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="delete_key()">Borrar</button>
        <button mat-raised-button color="primary" (click)="share_view_href()">Compartir clave</button>
    </div>

</mat-card>
